<div id="post">
  <h1 class='posttitle dylanrichards pagetitle'>
    <i class="fa fa-comment-o fa-2x"></i>
  </h1>
  
	<br>

	<% if current_user %>
		<%= link_to 'New Quote', new_quote_path %>
  <% end %>

  <br>

  <%= pie_chart Quote.all.unscoped.group("author").count %>

  <%= render @quotes %>

	<%= will_paginate @quotes %>
</div>
<br>



