<div id="post">
  <h1 class='posttitle dylanrichards pagetitle'>
    <i class="fa fa-comment-o fa-2x"></i>
  </h1>

  <br>

  <% if current_user %>
    <%= link_to 'New Quote', new_quote_path %> |
    <%= link_to 'Stats', quotes_stats_path %>
  <% end %>

  <br>

  <%= render @quotes %>

  <%= will_paginate @quotes %>
</div>
<br>
