/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 */





 @import 'bootstrap';

ul.wysihtml5-toolbar {
	margin: 0;
	padding: 0;
	display: block;
}

ul.wysihtml5-toolbar::after {
	clear: both;
	display: table;
	content: "";
}

ul.wysihtml5-toolbar > li {
	float: left;
	display: list-item;
	list-style: none;
	margin: 0 5px 10px 0;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=bold] {
	font-weight: bold;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=italic] {
	font-style: italic;
}

ul.wysihtml5-toolbar a[data-wysihtml5-command=underline] {
	text-decoration: underline;
}

ul.wysihtml5-commands-disabled .dropdown-menu {
	display: none !important;
}

ul.wysihtml5-toolbar div.wysihtml5-colors {
  display:block;
  width: 50px;
  height: 20px;
  margin-top: 2px;
  margin-left: 5px;
  position: absolute;
  pointer-events: none;
}

ul.wysihtml5-toolbar a.wysihtml5-colors-title {
  padding-left: 70px;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="black"] {
  background: black !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="silver"] {
  background: silver !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="gray"] {
  background: gray !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="maroon"] {
  background: maroon !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="red"] {
  background: red !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="purple"] {
  background: purple !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="green"] {
  background: green !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="olive"] {
  background: olive !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="navy"] {
  background: navy !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="blue"] {
  background: blue !important;
}

ul.wysihtml5-toolbar div[data-wysihtml5-command-value="orange"] {
  background: orange !important;
}
/*

*/

/* line 5, /Users/DylanRichards/Desktop/dylanrichards/app/assets/stylesheets/posts.css.scss */
#tag_cloud {
  width: 400px;
  line-height: 1.6em;
}
/* line 8, /Users/DylanRichards/Desktop/dylanrichards/app/assets/stylesheets/posts.css.scss */
#tag_cloud .s {
  font-size: 0.8em;
}
/* line 9, /Users/DylanRichards/Desktop/dylanrichards/app/assets/stylesheets/posts.css.scss */
#tag_cloud .m {
  font-size: 1.2em;
}
/* line 10, /Users/DylanRichards/Desktop/dylanrichards/app/assets/stylesheets/posts.css.scss */
#tag_cloud .l {
  font-size: 1.8em;
}
/* line 1, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.body {
  background-color: #f5f5f5;
}

/* line 7, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
nav {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* line 12, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.navspan {
  width: auto;
  height: 3px;
  background-color: #333;
  clear: both;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 22, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.postdate {
  text-align: center;
}

/* line 28, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.container {
  font-family: "Droid Serif", "serif";
}

/* line 35, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.highlight {
  color: #F3B562;
}

/* line 40, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.underline {
  color: #333;
  border-bottom: 1px solid #f39c12;
  border-width: 2px;
  padding-bottom: 3px;
}

/* line 48, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
#post {
  margin: 0 auto;
  max-width: 42.5em;
}

/* line 54, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.posttitle {
  text-align: center;
  color: #333;
}

/* line 61, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.span {
  background-color: #F3B562;
  height: 1px;
  width: 100%;
  margin-bottom: 20px;
}

/* line 68, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
.postdate {
  text-align: center;
  color: #999;
}

/* line 75, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
a:link {
  color: #16a085;
}

/* unvisited link */
/* line 76, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
a:visited {
  color: #2c3e50;
}

/* visited link */
/* line 77, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
a:hover {
  color: #1abc9c;
}

/* mouse over link */
/* line 78, /Users/DylanRichards/Sites/Sites/dylanrichards/app/assets/stylesheets/styles.css.scss */
a:active {
  color: #0000FF;
}

/* selected link */
