<h1 class='posttitle dylanrichards pagetitle'>about</h1>
<div id="post">
  <br>

  <p>
    Dylan Richards is an entrepreneur and educator who is passionate about
    using software and web technologies to expose students to the world of software
    development through alternative education.
  </p>

  <p>
    Since dropping out of the University of Connecticut, he's been a lead developer
    at a number of groundbreaking startups in New York City, including Sweeten, an
    award-winning home renovation website, and Amazon Inc.
  </p>

  <p>
    He has over 8 years of experience in web and software development, and is now the founder and
    CEO of Ruby on Richards -- an online coding school that takes students from zero
    programming experience to building full-stack web applications in 8 weeks.
  </p>

  <div class="center">
    <%= image_tag "tech.jpg", class: "about-photo" %>
  </div>
</div>

<br>










