


<div id="post">
	<h1 class='posttitle dylanrichards'>about</h1>
	<br>
	
	<p>
		I made this website to document my experiences, what I've learned from them, and to share them with you. In doing so, I hope to gain a better understanding of myself and to help you do the same.
	</p>

	<p>
		<i>Gather ye rosebuds while ye may</i>. I do my best to take advantage of every I opportunity I can -- to <i>suck out all the marrow of life</i>. This is the fuel behind every decision I make. 
	</p>

	<p>
		I left The University of Connecticut to be a software engineer. Bringing <%= link_to 'ideas', projects_path %> to life motivates me. The prospect of traveling and seeing the world is the beat of my heart.
	</p>

	<div class="center">
		<img src="http://i.imgur.com/ZKmWiPE.png" alt="dylan richards and murphy" class='center' width='100%'>
<!--  		<img src="http://i.imgur.com/gVllIsR.jpg" alt="dylan richards" class='center' width='100%'>
 -->	</div>

</div>	


<br>









