<h1 class='posttitle dylanrichards pagetitle'>about</h1>
<div id="post">
  <br>

  <p>
    Dylan Richards is an entrepreneur and educator who is passionate about
    using software and web technologies to expose students to the world of software
    development through alternative education.
  </p>

  <p>
    Since dropping out of the University of Connecticut, he's been a lead developer and instructor
    at a number of groundbreaking startups in New York City, including <br />
    <a href="https://www.nycda.com">The New York Code + Design Academy</a>, <a href="http://www.sweeten.com">Sweeten</a>,
    <a href="http://www.allegorylaw.com">Allegory</a>, <a href="http://www.teladoc.com">Teladoc</a>, and <a href="http://www.amazon.com">Amazon Inc</a>.
  </p>

  <p>
    He has over 8 years of experience in web and software development, and from 2014 to 2017, served as the founder and
    CEO of Ruby on Richards -- an online coding school that took students from zero
    programming experience to building full-stack web applications in 8 weeks.
  </p>

  <p>
    Today he's bridging the gap between tech and photography at <a href="https://www.escalate-photography.com">Escalate</a>.
  </p>

  <div class="center">
    <%# <%= image_tag "tech.jpg", class: "about-photo" %1> %>
  </div>
</div>

<br>










