<h1>dylan e. richards</h1>

<div id="tag_cloud">

  <!-- commenting out the tag cloud -->

  <%# tag_cloud Post.tag_counts, %w[s m l] do |tag, css_class| %>
    <%#= link_to tag.name, tag_path(tag.name), class: css_class %>
  <%# end %>
</div>


<p>my name's dylan e. richards. this is my website.</p> <br>

<blockquote>
  "Less is more."
  <small>Ludwig Mies van der Rohe</small>
</blockquote>

<% if current_user %>
  <%= link_to 'new post', new_post_path %> | 
  <%= link_to 'new photo', new_photo_path %> |
  <%= link_to 'new quote', new_quote_path %> 
<% end %>

