<h1>Dylan E. Richards</h1>

<p>My name's Dylan E. Richards. This is my website.</p> <br>

<strong>
  <p>All posts:</p>
</strong>

<ul>
  <li>March 20, 2014 :: <%= link_to 'Update', blog_march202014_path %></li>
</ul>