<h1>photography</h1>
<br>

<h4>posts</h4>
<% if current_user %>
<%= link_to 'add photo', new_photo_path %>
<% end %>
<ul>
  <% @posts.each do |post| %>
  <li><%= post.created_at.to_time.strftime('%B %d %Y') %> :: <%= link_to post.title, post %></li>
  <% end %>
</ul>




<%= render 'photos/index' %>



