<h1>iphoneography</h1>

gallery : <%= link_to 'includr', 'http://includr.vispillo.org/' %> <br>
lynda : <%= link_to 'iphoneography course', 'http://www.lynda.com/Photography-tutorials/iPhone-Photography-from-Shooting-to-Storytelling/90813-2.html' %> 

<br>
<br>


<a href="http://www.flickr.com/photos/120964023@N04/13300390754"><img src="http://farm8.static.flickr.com/7326/13300390754_42c1fa8bd2_m.jpg" title="murphy"/></a>&nbsp;<a href="http://www.flickr.com/photos/120964023@N04/13300171353"><img src="http://farm4.static.flickr.com/3763/13300171353_d775b9b689_m.jpg" title="martinelli's"/></a><br />
<a href="http://www.flickr.com/photos/120964023@N04/13300171203"><img src="http://farm4.static.flickr.com/3801/13300171203_9106f97b49_m.jpg" title="lightpost"/></a>&nbsp;