<h1>iphoneography</h1>

gallery : <%= link_to 'includr', 'http://includr.vispillo.org/' %> <br>
lynda : <%= link_to 'iphoneography course', 'http://www.lynda.com/Photography-tutorials/iPhone-Photography-from-Shooting-to-Storytelling/90813-2.html' %> 

<br>
<br>

<h4>posts</h4>
<ul>
  <% @posts.each do |post| %>
  <li><%= post.created_at.to_time.strftime('%B %d %Y') %> :: <%= link_to post.title, post %></li>
  <% end %>
</ul>





<%#= render 'layouts/image_gallery' %>



