<h1>projects</h1>

<strong>RSGuides</strong> : <%= link_to 'RSGuides.net', 'http://www.rsguides.net' %>

<p>RSGuides is a web application I built to help <%= link_to 'RuneScape', 'http://www.runescape.com/' %> players find game help more quickly.</p>