<br>

<!-- modal-gallery is the modal dialog used for the image gallery -->



<div id="photos">
    <% for photo in @photos %>
      <%= link_to (image_tag photo.image.url(:medium), :rel => 'gallery'), (photo) %>
    <% end %>
</div>
 


















