<li><%= post.pretty_created_at %> ::
  <%= link_to post.title, post %>

  <% if current_user %>::
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, 
      data: { confirm: 'Are you sure?' } %>
  <% end %>
</li>
