<h1 class="posttitle dylanrichards pagetitle">
  <i class="fa fa-pencil fa-2x"></i>
</h1>

<% if !params[:tag] %>
  <div class="tag-cloud">
    <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <%= link_to tag.name, "/tags/#{tag}", :class => css_class %>
    <% end %>
  </div>
<% end %>

<div id="post">

  <% if current_user %>
    <%= link_to 'New Post', new_post_path %>
  <% end %>

  <br>

  <ul class="index-posts-list">
    <%= render @posts %>
  </ul>

  <%= will_paginate @posts %>
</div>

<br>
<br>

