<div id="post">
	<h1 class="posttitle dylanrichards pagetitle">
		<i class="fa fa-pencil fa-2x"></i>
	</h1>
	<br>
	<ul>
		<%= render @posts %>
	</ul>
	<%= will_paginate @posts %>
</div>
 
<br>
<br>

<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
