<h1>march 20, 2014</h1>

<div class="row">
  <div class="col-md-8">
    <p>I decided to take up iphoneography today. Seems interesting. I made a Flickr account and linked my photo gallery to this site.</p>
  </div>
</div>
