<h1>rule of thirds</h1>

<br>

<h4>march 21, 2014</h4>
<p>
  Since I'm new to photography, I figured it'd be great to start with the most basic composition rule -- the rule of thirds.
</p>
<p>
  On this page, I'll document my experience with the rule of thirds and how it impacts the photos I take.
</p>

<a href="http://www.flickr.com/photos/120964023@N04/13332763105"><img src="http://farm4.static.flickr.com/3722/13332763105_7b59e8829e_m.jpg" title="image"/></a>

&nbsp;<a href="http://www.flickr.com/photos/120964023@N04/13313439975"><img src="http://farm8.static.flickr.com/7412/13313439975_33ceda2f04_m.jpg" title="March 21, 2014"/></a>

&nbsp;<a href="http://www.flickr.com/photos/120964023@N04/13313806584"><img src="http://farm4.static.flickr.com/3834/13313806584_9e7187ab49_m.jpg" title="March 21, 2014"/></a>

<br />
<a href="http://www.flickr.com/photos/120964023@N04/13333176383"><img src="http://farm4.static.flickr.com/3738/13333176383_5d6ce7d68f_m.jpg" title="image"/></a>&nbsp;