.body {
	background-color: #f5f5f5;
}



nav {
	
	margin-top: 10px;
}

.navspan {
	width: auto;
	height:1px;
	background-color: #333;
	clear: both;
	margin-bottom: 10px;
	margin-top: 40px;

}

.postdate {
	text-align: center;
}



.container {
	font-family: "Droid Serif", "serif";
	
}

.dylanrichards {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}



.highlight {
 	color: #16a085;
 }


 .admin-button {
 	clear: both;
 }


.underline {
	color: #333;
	border-bottom: 1px solid #f39c12;
	border-width: 2px;
	padding-bottom: 3px;

}

 #post {
 	margin: 0 auto;
 	max-width: 42.5em;
 }

 #photos {
 	text-align: center
 }


 .posttitle {

 	text-align: center;
 	color: #333;
 	margin-top: 30px;
 }


.span {
	background-color: #F3B562;
	height: 1px;
	width: 100%;
	margin-bottom: 20px;
}

 .postdate {
 	text-align: center;
 	color: #999;
 }

 .navbar {
 	border: none;
 	background: none;
 }


#dylanrichards {
	text-align: center;
}

#Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}




 a:link {color:#16a085;}      /* unvisited link */
 a:visited {color:#2c3e50;}   /* visited link */
 a:hover {color:#1abc9c;}     /* mouse over link */
 a:active {color:#0000FF;}    /* selected link */


