.postdate {
	text-align: center
}

btn-primary {
	background-color: #000
}

.container {
	font-family: "Droid Serif", "serif";

}


 .highlight {
 	color: #1abc9c;

 }


.underline {
	color: #333;
	border-bottom: 1px solid #f39c12;
	border-width: 2px;
	padding-bottom: 3px;

}

 #post {
 	margin: 0 auto;
 	max-width: 42.5em;
 }


 .posttitle {

 	text-align: center;
 }


.span {
	background-color: #f39c12;
	height: 1px;
	width: 100%;
	margin-bottom: 20px;
}

 .postdate {
 	text-align: center;
 	color: #999;
 }

 a:link {color:#16a085;}      /* unvisited link */
 a:visited {color:#2c3e50;}   /* visited link */
 a:hover {color:#1abc9c;}     /* mouse over link */
 a:active {color:#0000FF;}    /* selected link */