.body {
	background-color: #fffff9 ;
}



nav {	margin-top: 10px;}

.tags {
	text-align: center;
}

.homephoto {
	width: 14em;
}

.postdate {
	text-align: center;
}

.photoshow {
	text-align: center;
}


.container {
	font-family: "Droid Serif", "serif";
	
}

.dylanrichards {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}



.highlight {
 	color: #16a085;
 }


 .admin-button {
 	clear: both;
 }


.underline {
	color: #333;
	border-bottom: 1px solid #f39c12;
	border-width: 2px;
	padding-bottom: 3px;

}

 #post {
 	margin: 0 auto;
 	max-width: 42.5em;
 }

 #photos {
 	text-align: center
 }


 .posttitle {

 	text-align: center;
 	color: #333;
 	margin-top: 30px;
 }


.span {
	background-color: #F3B562;
	height: 1px;
	width: 100%;
	margin-bottom: 20px;
}

 .postdate {
 	text-align: center;
 	color: #999;
 }

 .navbar {
    background-color: transparent;
    background: transparent;
 }


#dylanrichards {
	text-align: center;
}

.dropdown-menu>li>a:hover {
	background-color: #fff !important;
}

.navbar {
    background: transparent !important;
    border-color: transparent !important;
}

.navbar-nav li a {
	color:#16a085 !important;
}

.navbar-nav li a:visited {
	color:#2c3e50 !important;
}

.navbar-nav li a:hover {
	color:#1abc9c !important;
}

.navbar-nav li a:active {
	color:#0000ff;
}







 a:link {color:#16a085;}      /* unvisited link */
 a:visited {color:#2c3e50;}   /* visited link */
 a:hover {color:#1abc9c;}     /* mouse over link */
 a:active {color:#0000FF;}    /* selected link */


